
.main-btn{
    background-color: #ff7f00;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat-regular;
    font-size: 1rem;
}

.gallery-btn{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
}

.about-btn{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}

.edit-btn{
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 5px;
    font-family: Montserrat-regular ;
}

.text-input {
    grid-area: text-input;
    height: 50%;
}

.switch-lines-btn {
    grid-area: switch-lines-btn;
    height: 50%;
}

.add-line-btn {
    grid-area: add-line-btn;
}

.delete-btn {
    grid-area: delete-btn;
}

.color-selector {
    grid-area: color-selector;
    height: 50%;
    padding: 5px;
    
}

.increase-btn {
    grid-area: increase-btn;
    height: 50%;
}

.decrease-btn {
    grid-area: decrease-btn;
    height: 50%;
}

.facebook-btn{
    grid-area: facebook-btn;
}

.download-btn{
    grid-area: download-btn;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 35px 0
}

.save-btn{
    grid-area: save-btn;
    height: 50%;
}

.font-btn{
    grid-area: font-btn;
    height: 50%;
}


.delete-line-btn{
    grid-area: delete-line-btn;
    height: 50%;
}

.add-line-btn{
    grid-area: add-line-btn;
    height: 50%;
}