
.main-btn{
    background-color: #ff7f00;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat-regular;
    font-size: 1rem;
}

.gallery-btn{
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
}

.about-btn{
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
}

.edit-btn{
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 5px;
    font-family: Montserrat-regular ;
    font-size: 40px;
}

.text-input {
    grid-area: text-input;
    height: 50%;
    font-size: 20px;
}

.add-line-btn {
    grid-area: add-line-btn;
    height: 50%;
}

.delete-btn {
    grid-area: delete-btn;
    height: 50%;
}

.color-selector {
    grid-area: color-selector;
    height: 50%;
    padding: 5px;
    
}

.increase-btn {
    grid-area: increase-btn;
    height: 50%;
}

.decrease-btn {
    grid-area: decrease-btn;
    height: 50%;
}

.facebook-btn{
    grid-area: facebook-btn;
    height: 50%;
}

.download-btn{
    grid-area: download-btn;
    color: black;
    height: 50%;
    text-align: center;
    line-height: 70px;
}

.save-btn{
    grid-area: save-btn;
    height: 50%;
}

.font-btn{
    grid-area: font-btn;
    height: 50%;
    font-size: 20px;
}


.delete-line-btn{
    grid-area: delete-line-btn;
    height: 50%;
}

.add-line-btn{
    grid-area: add-line-btn;
    height: 50%;
}

.share-btn{
    grid-area: share-btn;
    height: 50%;
}

.stickers-select{
    grid-area: stickers-select;
}

.sticker{
    display: inline;
    font-size: 50px;
    text-align: center;
}