.editor {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    max-width: 984px;
    margin: auto;
    background-color: #e3e3e3;
}

.canvas-editor {
    border: 1px black solid;
    width: 100%;
    height: 100%;
}


.edit {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "text-input text-input text-input text-input"
      "switch-lines-btn color-selector font-btn font-btn"
      "decrease-btn increase-btn add-line-btn delete-line-btn"
      "stickers-select stickers-select stickers-select stickers-select"
      "save-btn facebook-btn download-btn share-btn"; 
}