footer {
    background-color: #ff7f00;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}

footer h1 {
    font-family: Fascinate-Regular;
    color: #ffffff;
    margin: 0;
}

footer p {
    color: #ffffff;
    font-family: Montserrat-Regular;
}

.about-p {
    max-width: 400px;
    text-align: left;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    padding-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-h1 {
    padding-top: 30px;
    max-width: 400px;
    text-align: left;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}