
body{
    margin: 0;
}

header{
    position: relative;
    max-width: 988px;
    margin: auto;
}

.main-nav{
    background-color: #ff7f00;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;   
}

.logo{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: Fascinate-Regular;
    color: #ffffff;
    margin-left: 25px;
    font-size: 2rem;
}


