/* Mobile */
@media (max-width: 1010px) {

    body{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .editor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr;
        max-width: 740px;
        margin: auto;
       
    }

    .canvas-editor {
        width: 100%;
     
    }

    header {
        width: 100%;
        
    }

    footer {
        background-color: #ff7f00;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
        padding: 2rem;
        width: 91%;
    }
    .gallery{
        max-width:740px ;
        display: grid;
        grid-template-columns: repeat(1, 43em);
        grid-template-rows: repeat(9, 43em);
        background-color:#e3e3e3;
        margin: auto;
        padding: 2rem;
        padding: 20px;
        align-items: center;
    }
    .meme-img{
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .search-section{
        width: 100%;
    }

}
