.search-section {
    display: grid;
    grid-template-columns: repeat(6, 0.9fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    text-align: center;
    margin: auto;
    height: 5rem;
    padding: 40px 0;
    max-width: 988px;
}

.filter {
    cursor: pointer;
    font-family: Montserrat-regular;
    text-align: center;
    padding-top: 20px;

}

.text-search {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 20px;
}

.filter-btn {
    display: none;
}

.filter-funny {
    font-size: 1rem;
}

.filter-cute {
    font-size: 1rem;
}

.filter-cool {
    font-size: 1rem;
}

.filter-cartoon {
    font-size: 1rem;
}